@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #5c5c55;
    display: grid;
    grid-template-columns: 40% auto;
    transition: 1s all ease-out;
}

@media (max-width:620px) {
    .contentLeft {
        display: none !important;
    }
}
.content__box-1 {
    background-image: radial-gradient(
        circle at 50% -20.71%,
        #4a3b3e 0,
        #322c2c 25%,
        #131818 50%,
        #000000 75%,
        #000000 100%
    );
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__box-1 i {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: -15px;
}

.contentLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 459px;
}

.contentLeft__stepOne {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 53px;
    color: black;
    height: 90px;
    width: 103px;
    background-color: #ffc956;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 15px;
    transition: all 1s;
}

.contentLeft__description{
    opacity: 1;
    padding: 10px;
    -webkit-animation: fadein 2s ease-in alternate;
    -moz-animation: fadein 2s ease-in alternate;
    animation: fadein 2s ease-in alternate;
}

.hiddenDescription{
    opacity: 0;
    display: none;
    transition: all 1s;
}


.description__title {
    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #edeceb;
}

.description__subTitle {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #edeceb;
}



.content__box-2 {
    background-image: radial-gradient(
        circle at 50% -20.71%,
        #63767a 0,
        #416168 25%,
        #124855 50%,
        #003043 75%,
        #001e35 100%
    );
    height: 100vh;
}

.hidden {
    grid-template-columns: 20% auto;
}

.box-2__container {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 50vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
}
div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
}
div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
}
div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}